[client]
remote_addr = "{{.VPSHost}}:2333"

[client.default_token]
default_token = "changeme"
{{if .NoisePubKey}}
[client.transport]
type = "noise"

[client.transport.noise]
remote_public_key = "{{.NoisePubKey}}"
{{end}}
{{range .Tunnels}}
[client.services.tunnel-{{.ID}}]
token = "{{.RatholeToken}}"
local_addr = "127.0.0.1:{{.LocalPort}}"
{{end}}
