[Unit]
Description=Rathole Tunnel Client
After=network.target

[Service]
Type=simple
User={{.Username}}
ExecStart={{.RatholeBin}} /etc/rathole/client.toml
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
