[Unit]
Description=Rathole Server Tunnel Gateway
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/rathole --server /opt/gopher/rathole-server.toml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
